body{
	background-color: black
	
	 
}
    
h1{ 
    color: yellow;
    text-align: left;
	font-size: 20px
	font-family:"times new roman" 
	}
	h2
	{color:yellow}
	h3
	{color:yellow}
	h4
	{color:yellow}
	p
	{color:yellow} 
	li
	{color:yellow}
	
	
	